region = "us-east-1" # replace me
instance_type = "t2.large"
######################################
# 
# Change to a list of comma separated
# CIDR ranges to restrict.
######################################
access_list = ["0.0.0.0/0"] 
docker_image_version = "10.1.3"

#####################################
# Add a space separated string 
# with usernames for the Ghidra
# server. The default password for
# any new user is changeme.
# Ghidra will force a password reset
# after your first successful login. 
#####################################
ghidra_users = "admin"
